/* Styles for page */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 670px;
  padding-top:150px;
  margin: 0 auto;
}

body {
  color: #1B2437;
  font-family: 'PT Sans', sans-serif;
}
body a {
  cursor: pointer;
  color: #2149FB;
  text-decoration: none;
}
body section {
  margin-bottom: 90px;
}
body section h1 {
  text-align: center;
  font-weight: normal;
  font-size: 2em;
}
body section p, body section a {
  text-align: center;
  color:#A6AEB8;
}

span {
  letter-spacing: 0px;
}

h2 {
  font-size:2em;
}

h4 {
  font-size:1.4em;
  font-weight:300;
  text-align:center;
}
p {
  font-weight: 200;
  line-height: 1.5;
  font-size: 1em;
}

footer {
  padding-top:4em;
}

.button {
  display:block;
  color:#263FFF;
  margin:0 auto;
  text-align:center;
  max-width:140px;
  border-radius:0.4em;
  background-color:white;
  padding:1em 2em;
  -webkit-box-shadow: 0px 12px 30px 0px rgba(38,63,255,0.11);
  -moz-box-shadow: 0px 12px 30px 0px rgba(38,63,255,0.11);
  box-shadow: 0px 12px 30px 0px rgba(38,63,255,0.11);
  transition:all 0.2s ease-out;
}

.button:hover {
  transform:translateY(-3px);
  -webkit-box-shadow: 0px 20px 50px 0px rgba(38,63,255,0.18);
  -moz-box-shadow: 0px 20px 50px 0px rgba(38,63,255,0.18);
  box-shadow: 0px 20px 50px 0px rgba(38,63,255,0.18);
  transition:all 0.2s ease-in;
}



.faq-section {
  padding-bottom:4em;
}

/* Styles for Accordion */
.toggle:last-child {
  border-bottom: 1px solid #EEF1F2;
}
.toggle .toggle-title {
  position: relative;
  display: block;
  border-top: 1px solid #EEF1F2;
  margin-bottom: 6px;
}
.toggle .toggle-title h3 {
  font-size: 1.4em;
  margin: 0px;
  line-height: 1;
  cursor: pointer;
  font-weight: 200;
}
.toggle .toggle-inner {
  padding: 7px 25px 10px 0px;
  display: none;
  margin: 0 0 0 0;
}
.toggle .toggle-inner div {
  max-width: 100%;
}
.toggle .toggle-title .title-name {
  display: block;
  padding: 30px 0px 20px 0px;
}
.toggle .toggle-title a i {
  font-size: 22px;
  margin-right: 5px;
}
.toggle .toggle-title i {
  position: absolute;
  background: url("http://arielbeninca.com/Storage/plus_minus.png") 0px -24px no-repeat;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 20px;
  right: 0;
}
.toggle .toggle-title.active i {
  background: url("http://arielbeninca.com/Storage/plus_minus.png") 0px 0px no-repeat;
}
.lock-container {
  width: 60px;
  height: 60px;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100%;
}

.lock {
  background-color: #2149FB;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -12px;
  animation: wiggle 1.5s linear infinite alternate;
}
.lock:before, .lock:after {
  content: '';
  position: absolute;
  left: 2px;
  animation: close 3s linear infinite alternate;
}
.lock:before {
  border-top: 3px solid #2149FB;
  border-left: 3px solid #2149FB;
  border-right: 3px solid #2149FB;
  border-radius: 10px 10px 0 0;
  width: 14px;
  height: 12px;
  top: -20px;
  transform-origin: 1px 0;
}
.lock:after {
  width: 3px;
  background-color: #2149FB;
  height: 15px;
  top: -11px;
}
.lock .keyhole {
  position: absolute;
  width: 4px;
  height: 7px;
  background-color: #fff;
  border-radius: 5px;
  top: 6px;
  left: 10px;
}



@keyframes close {
  0%, 10% {
    transform: translate(0%, 0%);
  }
  20%, 100% {
    transform: translate(0%, 8px);
  }
}
@keyframes wiggle {
  0%, 10%, 20%, 30%, 40% {
    transform: rotate(0);
  }
  40%, 50%, 60%, 70%, 80% {
    transform: rotate(10deg);
  }
  45%, 55%, 65%, 75%, 85% {
    transform: rotate(-10deg);
  }
  85%, 100% {
    transform: rotate(0);
  }
}

.model-probability {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.model-probability-content {
  border-radius: 1em;
  background-color: #63b4fa;
  color: findColorInvert(#63b4fa);
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
}
.model-probability-content > .column {
  height: 6.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
}
.model-probability-content > .column.is-first, .model-probability-content > .column.is-second {
  color: #fff;
}
.model-probability-content > .column.is-first {
  background-color: #2149fb;
}
.model-probability-content > .column.is-first::after {
  border-color: transparent transparent transparent #2149fb;
}
.model-probability-content > .column.is-first::before {
  border-color: transparent transparent transparent #7991fc;
}
.model-probability-content > .column.is-second {
  padding-right: 2rem;
  padding-left: 3.5rem;
  background-color: #1338de;
}
.model-probability-content > .column.is-second::after {
  border-color: transparent transparent transparent #1338de;
}
.model-probability-content > .column.is-second::before {
  border-color: transparent transparent transparent #a1d2fc;
}
.model-probability-number {
  font-size: 1.5rem;
}
.model-probability-slider {
  user-select: none;
  background-color: #cbd5f7;
  margin-top: 4rem;
  position: relative;
  width: 100%;
}
.model-probability-slider, .model-probability-filled {
  height: .625rem;
  border-radius: 1em;
}
.model-probability-filled {
  background-color: #263FFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 1;
}
.model-probability-toggle {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 5px 30px 0 rgba(27, 36, 55, 0.3);
  transform: translate(-50%, -1.1875rem);
  position: relative;
  left: 50%;
  z-index: 2;
}
.model-probability-toggle > svg {
  user-select: none;
  -webkit-user-drag: none;
  display: inline-block;
  width: 9px;
  height: 12px;
}
.model-probability-toggle > svg + svg {
  margin-left: 5px;
}

.formula {
  background-color:#0F141E;
  color:white;
  padding:2em 2em;
  border-radius:0.4em;
  font-family: 'PT Mono', sans-serif;
}

.code-line {
  display:block;
  padding-bottom:5px;
}

.indent {
  padding-left:30px;
}

.bigger {
  padding-left:50px;
}
